@font-face {
    font-family: 'SDAsian';
    src: url('fonts/Sdasian-WyDon.ttf') format('truetype');
}

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: 'SDAsian', sans-serif;
    background-color: #1f1f1f
}

.logo{
    color: #ffffff;
    font-size: 50px;
}
.navbar ul {
    list-style: none;
    gap: 20px;
}
.navbar ul li {
    display: inline-block;

}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.navbar-toggler {
    background-color: #ffc107; 
    border-radius: 5px; 
}
.d-flex ul {
    display: flex;
}
footer {
    background-color: #1f1f1f; /* Используем один цвет */
    font-family: SDAsian, sans-serif;
    color: #e0e0e0; 
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-content div {
    margin: 10px;
}

footer a {
    color: #fac200; /* Оранжевый цвет ссылок */
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #fff; /* Белый при наведении */
}
