@font-face {
    font-family: 'SDAsian';
    src: url('fonts/Sdasian-WyDon.ttf') format('truetype');
}

:root {
    --background-color: #1f1f1f;
    --text-color: #ffffff;
    --accent-color: #ffc107;
    --link-color: #fac200;
    --button-background: #ff6600;
    --button-hover: #e65c00;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
}

header {
    font-family: 'SDAsian', sans-serif;
    background-color: var(--background-color);
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: var(--text-color);
}

.signup {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    background-color: var(--accent-color); 
    border-radius: 5px; 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: var(--text-color);
}

footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    font-family: 'SDAsian', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-content div {
    margin: 10px;
}

footer a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: var(--text-color);
}

.account-info {
    color: var(--text-color);
    background-color: #333333;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}

.account-details{
    background-color: #444444;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.account-details h3 {
    font-size: 1.5rem;
    color: var(--accent-color);
}

.account-details p {
    font-size: 1.1rem;
}

button {
    background: var(--button-background);
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: var(--button-hover);
}
