.special-offers {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    /*background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(var(--color-base) 0.1);*/
}

.special-offers h2 {
    color: #ff6600;
    margin-bottom: 20px;
    text-align: center;
}

.offer-item {
    /*border-bottom: 1px solid var(--offer-time);*/
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.offer-item img {
    max-width: 150px; /* Максимальная ширина изображения */
    height: auto;
    margin-right: 20px;
}

.offer-item h3 {
    /*color: var(--offer-time);*/
    font-size: 18px;
    margin-bottom: 5px;
}

.offer-item p {
    /*color: var(--offer-timeP);*/
    margin: 5px 0;
}

/*.add-to-cart:hover {
    background-color: var(--background-color);
}*/

.categories {
    text-align: center;
    margin: 20px 0;
}

.category-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-item {
    text-align: center;
    margin: 10px;
}

.category-item img {
    width: 150px; /* Задайте нужный размер изображения */
    height: 150px;
    border-radius: 50%; /* Сделает изображение круглым */
    object-fit: cover; /* Изображение будет обрезаться, чтобы сохранить пропорции */
   /* box-shadow: 0 4px 8px rgba(var(--color-base) 0.1); */
}

.category-item h3 {
    margin-top: 10px;
}

.product-price {
    font-size: 18px;
    color:var(--text-color);
    font-weight: 600;
}

.product-price small {
    color: var(--offer-time) ;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-prices {
    font-size: 18px;
    /*color:var(--text-color);*/
    font-weight: 600;
}

.product-prices small {
    /*color: var(--offer-time) ;*/
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 10px;
}
span {
    /*color: var(--text-color);*/
}
